.app
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

.starter-pack-author
  display: flex;
  flex-direction: column;
  align-items: center;
  &__text
    // Delete font in /public/index
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 52px
    color: rgb(239,64,53)
  &__list
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 22px;
    color: rgb(226,160,153)

    text-align: center
    list-style-type: none

